<div class="wrap" *ngIf="notices.length">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--0 mdl-cell--2-col-tablet mdl-cell--3-col-desktop"></div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell-8-col-tablet mdl-cell--6-col-desktop">

      <div class="mdl-card">
        <div class="mdl-card__title">List notice</div>
        <div class="mdl-card__supporting-text">

          <ul class="mdl-list">
            <li class="mdl-list__item" *ngFor="let notice of shownNotices">
              <span class="mdl-list__item-primary-content">
                <span class="mdl-list__item-icon">
                  <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--primary" (click)="toggleStatus(notice)">
                    <i class="material-icons" *ngIf="!notice.completed">check_box_outline_blank</i>
                    <i class="material-icons" *ngIf="notice.completed">check_box</i>
                  </button>
                </span>
                {{notice.text}}
              </span>
              <span class="mdl-list__item-secondary-action">
                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" (click)="removeNotice(notice)">
                    <i class="material-icons">delete</i>
                  </button>
              </span>
            </li>
            <li class="messageEmptyFilter" *ngIf="!shownNotices.length">
              There is no one notice in current status
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</div>
